.dashboard-header{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dashboard-header a{
    margin: 10px;
}